@font-face {
  font-family: 'SFProDisplay';
  src: url(/fonts/SFPRODISPLAYREGULAR.OTF);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url(/fonts/SFPRODISPLAYMEDIUM.OTF);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url(/fonts/SFPRODISPLAYMEDIUM.OTF);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SFProDisplay';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url(/fonts/SFPRODISPLAYBOLD.OTF);
}

@font-face {
  font-family: 'SFProDisplay';
  src: url(/fonts/SFPRODISPLAYMEDIUM.OTF);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFMono';
  src: url(/fonts/SFMonoRegular.otf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFMono';
  src: url(/fonts/SFMonoMedium.otf);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFMono';
  src: url(/fonts/SFMonoMedium.otf);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFMono';
  src: url(/fonts/SFMonoMedium.otf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
