:root {
  --top-nav-height: 51px;
  --border-color: #dce6e9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
a {
  all: unset;
}
body {
  color: rgb(43, 41, 98);
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

html {
  --primary-bg: #f5f5f5;
  --primary-text-color: #2b2962;
  --border-color: #e5e5fc;
  --secondary-bg: #f9f9fe;
  --search-hover-bg: #a297ff;
  --searched-latters-color: #f6a2d4;
}
html[data-theme='dark'] {
  --primary-bg: #f5f5f5;
  --primary-text-color: #2b2962;
  --border-color: #e5e5fc;
  --secondary-bg: #f9f9fe;
}
svg {
  height: inherit;
  width: inherit;
}

.DocSearch-Button {
  color: var(--primary-text-color);
  background: var(--secondary-bg);
  cursor: pointer;
  height: inherit;
  width: inherit;
  margin: auto;
  padding-inline-start: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.DocSearch-Button-Container {
  display: flex;
  gap: 2vw;
  align-items: center;
}
.DocSearch-Button:hover {
  box-shadow: none;
  background: var(--primary-bg);
}
.DocSearch-Search-Icon {
  color: var(--dark);
}
.DocSearch-Button-Keys {
  padding-inline: 0.25rem;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  display: flex;
  gap: 0.125rem;
  align-items: center;
}

.DocSearch-Button-Keys > kbd:first-child {
  font-size: x-large;
}
.DocSearch-Button-Keys > kbd:last-child {
  font-size: 1.01rem;
}

.DocSearch-Footer,
.DocSearch-Cancel,
.DocSearch-Reset,
.DocSearch-NoResults {
  display: none;
}
.DocSearch--active {
  overflow: hidden !important;
}

.DocSearch-Container {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 200;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;

  @media (min-width: 640px) {
    padding: 1.5rem;
  }

  @media (min-width: 768px) {
    padding: 10vh;
  }

  @media (min-width: 1024px) {
    padding: 12vh;
  }
}

.DocSearch-Modal {
  margin: 0 auto;
  width: 100%;
  max-width: 47.375rem;
  display: flex;
  flex-direction: column;
  min-height: 0;
  border-radius: 0.75rem;
  background-color: var(--primary-bg);
}

.DocSearch-SearchBar {
  flex: none;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
}

.DocSearch-Form {
  flex: auto;
  display: flex;
  align-items: center;
  min-width: 0;
}

.DocSearch-Dropdown {
  flex: auto;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 0 1.5rem;
  overflow: auto;
}

.DocSearch-MagnifierLabel {
  flex: none;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z' stroke='%237f7aff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.DocSearch-MagnifierLabel svg {
  display: none;
}

.DocSearch-Input {
  all: unset;
  appearance: none;
  background: transparent;
  height: 4.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-text-color);
  margin-left: 1rem;
  margin-right: 1rem;
  flex: auto;
  min-width: 0;
}

.DocSearch-Input:focus {
  outline: 2px dotted transparent;
}

.DocSearch-Input::-webkit-search-cancel-button,
.DocSearch-Input::-webkit-search-decoration,
.DocSearch-Input::-webkit-search-results-button,
.DocSearch-Input::-webkit-search-results-decoration {
  display: none;
}

.DocSearch-Hit-source {
  line-height: 1.5rem;
  font-weight: 600;
  color: var(--primary-text-color);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.DocSearch-Hit-Container {
  display: flex;
  align-items: center;
  height: 4rem;
}

.DocSearch-Hit-Tree {
  display: none;
}

.DocSearch-Hit-icon {
  flex: none;
  margin-right: 0.875rem;
}

.DocSearch-Hit-icon path {
  stroke-width: 2px;
  stroke: #71717a;
}

.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-icon path {
  stroke: var(--border-color);
}

.DocSearch-Hit-content-wrapper {
  flex: auto;
  display: flex;
  flex-direction: column-reverse;
  min-width: 0;
}

.DocSearch-Hit-path {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  color: var(--primary-text-color);
}

.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-path {
  color: var(--primary-text-color);
}

.DocSearch-Dropdown ul {
  list-style-type: none;
}

.DocSearch-Dropdown ul ul {
  list-style-type: circle;
}

.DocSearch-Hit-title {
  color: black;
  line-height: 1.5rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-title {
  color: white;
}

.DocSearch-Hit-title + .DocSearch-Hit-path {
  margin-bottom: 0.125rem;
}

.DocSearch-Hit-action {
  flex: none;
  margin-left: 0.875rem;
}

.DocSearch-Hit-action-button {
  display: flex;
}

.DocSearch-Hit-action + .DocSearch-Hit-action {
  margin-left: 0.5rem;
}

.DocSearch-Hit-action path {
  stroke-width: 2px;
  stroke: #71717a;
}

.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-action path {
  stroke: white;
}

.DocSearch-Hit > a {
  display: block;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding: 0 1.25rem 0 1rem;
}

.DocSearch-Hit[aria-selected='true'] > a {
  background: var(--search-hover-bg);
}

.DocSearch-Hit + .DocSearch-Hit {
  margin-top: 0.5rem;
}

.DocSearch-Hit {
  position: relative;
}

.DocSearch-Hit--Child {
  padding-left: 1.75rem;
}

.DocSearch-Hit--Child::before,
.DocSearch-Hit--Child + .DocSearch-Hit:not(.DocSearch-Hit--Child)::before {
  content: '';
  position: absolute;
  top: -0.25rem;
  bottom: -0.25rem;
  left: 0.5rem;
  width: 1.25rem;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='200' viewBox='0 0 12 200' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 1 0 V 200 M 1 100 H 12' stroke='%23a1a1aa' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center left;
}

.DocSearch-Hit--Child:last-child::before,
.DocSearch-Hit--Child + .DocSearch-Hit:not(.DocSearch-Hit--Child)::before {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='200' viewBox='0 0 12 200' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 1 0 V 89 Q 1 100 12 100' stroke='%23a1a1aa' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.DocSearch-Hit:not(.DocSearch-Hit--Child) + .DocSearch-Hit--Child::after {
  content: '';
  position: absolute;
  top: -0.25rem;
  left: 0;
  width: 1.25rem;
  height: 0.25rem;
  background: inherit;
}

.DocSearch-Hit--Child + .DocSearch-Hit:not(.DocSearch-Hit--Child)::before {
  top: auto;
  bottom: calc(100% + 0.25rem);
  height: calc(100% + 0.25rem);
  background-color: #f5f5f5;
}

.DocSearch-Hits mark {
  background: none;
  color: var(--searched-latters-color);
}

.DocSearch-Label {
  opacity: 0.5;
  color: white;
}

.DocSearch-Hit--deleting,
.DocSearch-Hit--favoriting {
  opacity: 0;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 200ms;
}

code > span.token.operator {
  color: #f6a2d4;
}
code {
  color: linear-gradient(0deg, #8ccdc0, #8ccdc0);
}
